.data{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 12px;
    
}
.img2,.img3, .img5, .img6, .img7 {
    width:500px;
    height: 500px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 width:100%;
 
}

table,th,td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 6px;
            font-size:12px;
		}